.added-task {
  list-style: none;

  li {
    width: 97%;
    margin-top: 12px;
    font-size: .9rem;
    font-weight: 400;
    color: #605e5c;
    line-height: 1.2;
    height: 3.25rem;
    margin-left: 1rem;
    border-radius: 5px 5px 0px 0px;
    background-color: #ffffff;
    border-bottom: 1px solid #e5dbd0;
    box-shadow: #6c6a6a7d 0px 1px 1px;
    cursor: pointer;

    &:hover {
      background-color: #f5f5f5;
    }

    div {
      display: inline-block;
      width: 47.2%;
      pointer-events: none;
    }

    i {
      font-size: 1.1rem;
      padding: .5rem;
      margin-left: .9rem;
      margin-right: .7rem;
      border-radius: .05rem;
      line-height: 1.1;
      color: #2564cf;
      pointer-events: all;
      cursor: pointer;
    }

    .task-name {
      .hide-task-d {
        display: none;
      }
    }

    .important {
      text-align: right;
      pointer-events: none;

      i {
        pointer-events: all;
      }
    }

    .important-middle {
      width: 45.2%;
    }

    .task-name {
      position: relative;
      top: .5rem;
      pointer-events: none;

      .type-of-task {
        font-size: .8rem;
      }

      .hide-task-id {
        display: none;
      }

    }
  }
}