<div class="left-container">
  <div class="default-menu-block">
    <div class="side-bar-head">
      <i class="fa-solid fa-bars" id="left-menu"></i>
    </div>

    <app-category-list [categories]="categories" [selectedCategory]="selectedCategory" (onSelected)="onSelected($event)">
    </app-category-list>

  </div>
  <div class="default-add-menu">
    <i class="fa-solid fa-plus"></i>
    <input type="text" class="new-List-Bar" placeholder="New list" required (keypress)="addCategory($event)">
    <div class="create-group-block">
      <i class="fa-solid fa-file-circle-plus"></i>
    </div>
  </div>
  <div class="options-block">
    <div>
      <i class="fa-regular fa-envelope"></i>
    </div>
    <div>
      <i class="fa-regular fa-calendar"></i>
    </div>
    <div>
      <i class="fa-solid fa-user-group"></i>
    </div>
    <div>
      <i class="fa-solid fa-paperclip"></i>
    </div>
    <div>
      <i class="fa-solid fa-check"></i>
    </div>
  </div>
</div>