<div [ngClass]="commonService.viewLeftContainer ?'left-container' :'left-container-hide'">
  <!-- commonService.viewLeftContainer -->
  <div class="default-menu-block">
    <div class="side-bar-head">
      <i class="fa-solid fa-bars" id="left-menu" (click)="toggleMenuAction()"></i>
    </div>
    <app-category-list [selectedCategory]="selectedCategory"></app-category-list>
  </div>
  <div class="default-add-menu">
    <i class="fa-solid fa-plus"></i>
    <input type="text" [(ngModel)]="categoryName" class="new-List-Bar" placeholder="New list" required (keydown.enter)="addCategory()">
    <div class="create-group-block">
      <i class="fa-solid fa-file-circle-plus"></i>
    </div>
  </div>
  <div class="options-block">
    <div>
      <i class="fa-regular fa-envelope"></i>
    </div>
    <div>
      <i class="fa-regular fa-calendar"></i>
    </div>
    <div>
      <i class="fa-solid fa-user-group"></i>
    </div>
    <div>
      <i class="fa-solid fa-paperclip"></i>
    </div>
    <div>
      <i class="fa-solid fa-check"></i>
    </div>
  </div>
</div>