$primary-blue:#2564cf;
$primary-background-light-gray:#faf9f8;
$primary-white:#ffffff;
$secondary-placeholder-black:#000000;
$secondary-top-hover-blue:#005a9e;
$secondary-list-border-gray:#7c7d7f61;
$secondary-list-text-color:#292827;
$secondary-list-hover:#f5f5f5;
$secondary-list-selected:#eef7ff;
$secondary-options-text-color:#605e5c;
$secondary-list-shadow:#6c6a6a7d;
$secondary-list-border-bottom-sand-dagger:#e5dbd0;
$secondary-border-white:#e1dfdd;
$secondary-text-color-button:#a19f9d;
$secondary-border-light-black:#7c7d7f77;
$secondary-container-shadow:#0000001a;
$secondary-list-scroll-bar:#edebe9;
