<div class="center-container shrink-center-container">

  <!-- need to change as dynamic -->
  <div class="title-and-Other-block">
    <div class="title-block">
      <div class="title-block-left">
        <i class="fa-regular fa-sun" id="full-screen-icon"></i>
        <p class="title">{{categoryTitle}}</p>
        <button><i class="fa-solid fa-ellipsis"></i></button>
      </div>
      <div class="title-block-right">
        <div class="sort-middle">
          <!-- need to change as dynamic -->
          <i class="fa-solid fa-arrow-right-arrow-left"></i> Sort
        </div>
        <div class="suggestion-middle">
          <!-- need to change as dynamic -->
          <i class="fa-regular fa-lightbulb"></i> Suggestions
        </div>
      </div>
    </div>
    <div class="sub-line">
      {{currentDate| date : 'EEEE, MMMM dd'}}
    </div>
  </div>
  <div class="add-task-bar">
    <button>
      <i class="fa-solid fa-plus" id="add-task-icon"></i>
    </button>
    <input type="text" class="add-task-input" placeholder="Add a task" required (keydown.enter)="addTask($event)">
  </div>
  <div class="add-task-option-bar">
    <div class="add-task-option">
      <i class="fa-regular fa-calendar"></i>
      <i class="fa-regular fa-bell"></i>
      <i class="fa-solid fa-repeat"></i>
    </div>
    <div class="add-button">
      <button>Add</button>
    </div>
  </div>
  <div class="task-container">
    <app-task-list [renderTasks]="pendingTasks" [titleName]="categoryTitle"
      (selectedTask)="getSelectedTask($event)"></app-task-list>

    <div [ngClass]="completedTasks.length > 0 ? 'completed': 'completed-hide'" (click)="showAndHideCompletedTask()">
      <i [ngClass]="hideCompletedTask ? 'fa-solid fa-angle-right' : 'fa-solid fa-angle-down'"></i>
      <div>Completed</div>
      <div id="completed-task-count"></div>
    </div>
    <div class="completed-task-hide" [class.completed-task-hide]=hideCompletedTask>
      <app-task-list [renderTasks]="completedTasks" [titleName]="categoryTitle" (selectedTask)="getSelectedTask($event)"></app-task-list>
    </div>
  </div>
</div>