
<div class="center-container">
  <div class="title-and-Other-block">
    <div class="title-block">
      <div class="title-block-left">
        <i class="fa-regular fa-sun" id="full-screen-icon"></i>
        <p class="title">My Day</p>
        <button><i class="fa-solid fa-ellipsis"></i></button>
      </div>
      <div class="title-block-right">
        <div class="sort">
          <i class="fa-solid fa-arrow-right-arrow-left"></i> Sort
        </div>
        <div class="suggestions">
          <i class="fa-regular fa-lightbulb"></i> Suggestions
        </div>
      </div>
    </div>
    <div class="sub-line">
    </div>
  </div>
  <div class="add-task-bar">
    <button>
      <i class="fa-solid fa-plus" id="add-task-icon"></i>
    </button>
    <input type="text" class="add-task-input" placeholder="Add a task" required>
  </div>
  <div class="add-task-option-bar">
    <div class="add-task-option">
      <i class="fa-regular fa-calendar"></i>
      <i class="fa-regular fa-bell"></i>
      <i class="fa-solid fa-repeat"></i>
    </div>
    <div class="add-button">
      <button>Add</button>
    </div>
  </div>
  <div class="task-container">
    <ul class="added-task">
    </ul>
    <div id="completed-hide">
      <i class="fa-solid fa-angle-right"></i>
      <div>Completed</div>
      <div id="completed-task-count"></div>
    </div>
    <ul class="completed-task-hide">
    </ul>
  </div>
</div>
