<div class="top-container">
    <div class="top-left">
        <button class="menu-icons"><i class="fa-solid fa-grip"></i>
        </button>
        <div class="name"> Outlook </div>
    </div>

    <div class="top-middle">
        <app-search-bar></app-search-bar>
    </div>
    <div class="top-right">
        <button class="menu-icons">
            <i class="fa-solid fa-gear"></i>
        </button>
        <button class="menu-icons">
            <i class="fa-solid fa-question"></i>
        </button>
        <button class="menu-icons">
            <i class="fa-solid fa-bullhorn"></i>
        </button>
        <button class="menu-icons">
            <i class="fa-solid fa-circle-user"></i>
        </button>
    </div>
</div>