<div [ngClass]="TaskService.viewRightContainer?'right-container':'right-container-hide'" >
  <!-- right-container -->
  <div class="inside-right-container">
    <div class="task-details">
      <div class="task-details-icon icon-color">
        <i [ngClass]="(selectedTask.isCompleted?'fa-solid fa-circle-check':'fa-regular fa-circle')"
          (mouseover)=TaskService.completedIconMouseIn($event) (mouseout)=TaskService.completedIconMouseOut($event)
          (click)=TaskService.changeCompletedStatus(selectedTask)></i>
      </div>
      <div id="task-id"></div>
      <div class="task-details-name" [class.strike]="selectedTask.isCompleted">
        {{selectedTask.name}}
      </div>
      <div class="task-details-icon icon-color">
        <i [ngClass]="(selectedTask.isImportant?'fa-solid fa-star':'fa-regular fa-star')"
          (click)=TaskService.importantStatus(selectedTask)></i>
      </div>
    </div>
    <div class="task-details add-step">
      <div class="task-details-icon">
        <i class="fa-solid fa-plus"></i>
      </div>
      <div class="content">
        Add step
      </div>
    </div>
    <div class="task-details separate">
      <div class="task-details-icon">
        <i class="fa-solid fa-sun"></i>
      </div>
      <div class="content">
        Add to My Day
      </div>
    </div>

    <ul>
      <li>
        <div class="task-details">
          <div class="task-details-icon">
            <i class="fa-regular fa-bell"></i>
          </div>
          <div class="content">
            Remind me
          </div>
        </div>
      </li>
      <li>
        <div class="task-details">
          <div class="task-details-icon">
            <i class="fa-regular fa-calendar"></i>
          </div>
          <div class="content">
            Add due date
          </div>
        </div>
      </li>
      <li>
        <div class="task-details">
          <div class="task-details-icon">
            <i class="fa-solid fa-repeat"></i>
          </div>
          <div class="content">
            Repeat
          </div>
        </div>
      </li>
    </ul>

    <div class="task-details separate">
      <div class="task-details-icon">
        <i class="fa-solid fa-tag"></i>
      </div>
      <div class="content">
        Pick a category
      </div>
    </div>

    <div class="task-details separate">
      <div class="task-details-icon">
        <i class="fa-solid fa-paperclip"></i>
      </div>
      <div class="content">
        Add file
      </div>
    </div>
    <input type="text" [(ngModel)]="note" class="add-note" placeholder="Add note" (keypress)="addNotes()" value={{selectedTask.note}}>
  </div>
  <div class="detailed-footer">
    <div class="detailed-footer-left">
      <i class="fa-regular fa-square-caret-right" (click)=hideRightContainer()></i>
    </div>
    <div class="detailed-footer-center">
      Created Today
    </div>
    <div class="detailed-footer-right">
      <i class="fa-regular fa-trash-can"></i>
    </div>
  </div>

</div>